<%= content_tag_for :tr, asset, :class => cycle(:odd, :even) do %>
  <td>
    <spam class="title <%= icon_document_ext asset %>">
    <%= truncate(asset.title.capitalize, :size => 150) %>
    </spam>
    <span class="hint">
      (<%= number_to_human_size asset.document_file_size %>)
      <%= asset.document_content_type %>
    </span>
  </td>
  <td style="width:15%; text-align:right;">
    <%= link_to asset.document.url, :target => "_blank" do %>
      <%= image_tag("/images/icons/page_white_put.png", :title => "Baixar arquivo #{asset.document_file_name}", :class => "toolTip")%>
    <% end %>
    <%= link_to_edit [:edit, :admin, asset] if can? :update, asset %>
    <%= link_to_destroy [:admin, asset] if can? :destroy, asset %>
  </td>
<% end %>
