<%= content_tag_for :li, lesson, :class => "#{cycle(:odd, :even)} #{(!lesson.opened_lesson?(current_user.id) ? :bold : :normal)}" do %>
  <% if current_user.teacher? || current_user.tutor? %>
    <span class="<%= lesson.enabled ? :actived : :desactive %>"></span>
  <% end %>
  <%= lesson.theme %>
  <span class="hint"><%= "Publicado por #{lesson.user.name}. Realizará em " %><%= l lesson.date_at %></span>
  
  <div class="right middle">
    <%= link_to image_tag("/images/icons/view_list.png", :title => "Quem viu", :class => "toolTip"), admin_audit_lesson_path(lesson) if ((can? :read, Audit) && lesson.audits.present?)%>
    <%= link_to image_tag("/images/icons/eye.png", :title => "Ver", :class => "toolTip"), admin_lesson_path(lesson) %>
    <%= link_to image_tag("/images/icons/copy.png", :title => "Copiar Aula", :class => "toolTip"), copy_admin_lesson_path(lesson) if can? :copy, lesson %>
    <%= link_to_edit([:edit, :admin, lesson]) if can? :update, lesson %>
  </div>
<% end %>
