<%= content_tag_for :li, lesson, :class => cycle(:odd, :even) do %>
  <%= lesson.theme %>
  <span class="hint">(<%= l lesson.date_at %>)</span>
<div class="right middle">
  <%= link_to admin_lesson_path(lesson) do %>
    <%= image_tag("/images/icons/eye.png", :title => "Ver", :class => "toolTip")%>
  <% end %>
  <% if can? :create, Lesson %>
    <%= link_to copy_admin_lesson_path(lesson) do %>
      <%= image_tag("/images/icons/copy.png", :title => "Copiar Aula", :class => "toolTip")%>
    <% end %>
  <% end %>
  <%= link_to_edit([:edit, :admin, lesson]) if can? :update, Lesson %>
  <%= link_to_destroy([:admin, lesson]) if can? :destroy, Lesson %>
</div>
<% end %>
