<%= content_tag_for :tr, matriculation, :class => "header" do %>
  <td width="50%"><%= matriculation.course.name %></td>
  <td width="30%"><%= matriculation.user.name if can? :update, Matriculation %></td>
  <td class="right">
    <% if !current_user.admin? %>
    <%= (can? :read, matriculation) ? link_to(image_tag("door_in.png", :size => "18x18"), [:admin, matriculation], :title => "Entrar", :class => "toolTip") : "<i>Pendente</i>".html_safe %>
    <% end %>
    
      <% if can? :update, Matriculation%>
        <%= link_to admin_matriculation_path(matriculation), :class => "toolTip", :title => ("#{matriculation.enabled? ? 'Cancelar' : 'Aceitar'}"), :method => :put do %>
          <%= image_tag((matriculation.enabled? ? "icons/cross.png" : "icons/tick.png")) %>
        <% end %> 
      <% end %> 

    
    <%= link_to_edit edit_admin_matriculation_path(matriculation) if can? :update, Matriculation %>
    <%= link_to_destroy([:admin, matriculation]) if can? :destroy, Matriculation %>
  </td>
<% end %>
