<h2 class="view-title"><%= @matriculation.course.name %></h2>

<h3>Professor(s)</h3>
<%= @matriculation.teachers %>

<% if @matriculation.course.tutor_id.present? %>
  <h3>Tutor</h3>
  <%= @matriculation.tutor %>
<% end %>

<hr class = "thick" />
  <h3>Chat
  <%= link_to "Acessar", admin_course_chats_path(@matriculation.course), :class => "button right" %>
  </h3>
  
<hr class = "thick" />
  <h3>Aulas</h3>
<% if @lessons.present? %>
  <table class="grid">
    <ul class="list">
      <%= render @lessons %>
    </ul>
  </table>
    <%= will_paginate @lessons, :previous_label => "< #{t(:previous_label)}", :next_label => "#{t(:next_label)} >" %>
<% else %>  
  <p>Não existe aulas registradas.</p>
<% end %>
<hr class="thick">
