<%= stylesheet_link_tag "vendor/event_calendar" %>

<div id="calendar">
  <h2 id="month">
    <%= link_to "<", :month => (@date.beginning_of_month-1).strftime("%Y-%m") %>
    <%= l(@date, :format => :month) %>
    <%= link_to ">", :month => (@date.end_of_month+1).strftime("%Y-%m") %>
  </h2>
  <%= calendar_for @lessons, :year => @date.year, :month => @date.month do |calendar| %>
    <%= calendar.head('Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado') %>
    <%= calendar.day(:day_method => :date_at) do |date, lessons| %>
      <%= date.day %>
      <ul>
        <% for lesson in lessons %>
          <li>-<%= link_to h(lesson.theme), admin_lesson_path(lesson), 
                        :title => "Curso: #{lesson.course.name}<br/>#{truncate(lesson.description, :length => 100)}".html_safe, :class => "toolTip" %></li>
        <% end %>
      </ul>
    <% end %>
  <% end %>
</div>
