<h2 class="education-title">Ambiente <div id="wait" class="right"></div></h2>

<% if @courses.present? && (current_user.teacher? || current_user.tutor?) %>
  <table class="grid">
      <th class="titulo" colspan="3"><h3><%= image_tag("/images/notepad.gif", :size=> "18x18")%> Cursos Ministrados</h3></th>
      <%= render :partial => "course", :collection => @courses %>
  </table>
  <hr class = "thick" />
<% end %>

<% if @matriculations.present? %>
  <table class="grid">
    <%= link_to("Ver lista", admin_matriculations_path, :class => :right) if current_user.admin? %>
    <th class="titulo" colspan="3">
      <h3>
        <%= image_tag("/images/notepad.gif", :size=> "18x18")%> 
        Inscrições 
        <% if current_user.admin? %>
          Pendentes
          <%= select "home", "course_id", @courses.collect { |c| [c.name.capitalize, c.id]}, { :include_blank => "Todos" } %>
        <% end %>
      </h3>
    </th>
  </table>
  
  <table class="grid" id="load">
    <%= render @matriculations %>
  </table>
  
  <hr class = "thick" />
<% end %>

<% if !current_user.admin? %>
  <table class="grid">
    <th class="titulo" colspan="3"><h3><%= image_tag("/images/calendar.png", :size=> "18x18")%> 
    Calendário de Aulas
    </h3>
    </th>
  </table>
  <table class="grid" id="calendar">
    <%= render :partial => "lesson", :collection => @lessons %>
    <% if !@lessons.present? %>
      <tr class="header">
        <td>Não existe aula(s) registrada(s) na data.</td>
      </tr>
    <% end %>
  </table>
  <hr class="thick">
<% end %>

<% if @alerts.present? %>
  <div id="alerts">
    <table class="grid">
      <th class="titulo" colspan="3"><h3><%= image_tag("/images/alert_icon.png", :size=> "18x18")%> Avisos</h3></th>
      <%= render :partial => "alert", :collection => @alerts %>
    </table><br/>
    <%= link_to "Ver todos", admin_alerts_path, :class => "right" %>
  </div>
  <hr class="thick">
<% end %>

<%= content_for :calendar do %>
  <% if can? :read, Lesson %>
    <hr class="thick">
    <span class="large title-top">Calendário de Aulas</span>
    <div id="date-ambient" class="datepicker right" ></div>
  <% end %>
<% end %>
