<h2>Fórum
<%= link_to_new(Forum, new_admin_forum_path, "Nova Mensagem") %>
</h2>

<% if @forums.present? %>
<ul class="list">
  <% @forums.each do |forum| %>
    <%= content_tag_for :li, forum, :class => cycle(:odd, :even) do %>
      <%= forum.title %> <span class="hint">Enviado por <%= forum.user.name %>, <%= l forum.created_at %></span>

      <div class="right">
        <%= link_to [:admin, forum, :messages] do %>
          <%= image_tag("/images/icons/eye.png", :title => "Ver mensagens", :class => "toolTip")%>
        <% end %>      
        <%= link_to_edit(edit_admin_forum_path(forum)) if(can? :update, forum) %>
        <%= link_to_destroy([:admin, forum]) if(can? :destroy, forum) %>
      </div>
    <% end %>
  <% end %>
</ul>
<% else %>
  <p>Não existe forum registrado.</p>
<% end %>

<hr class="thick"/>
