<h2 class="list-title">Avisos
<%= link_to_new(Alert, new_admin_alert_path) if(can? :create, Alert) && @courses.present? %>
</h2>

<% if @alerts.present? %>
  <table class="grid">
    <ul class="list">
      <% @alerts.each do |alert| %>
        <%= content_tag_for :li, alert, :class => "#{cycle(:odd, :even)} #{(!alert.opened_alert?(current_user.id) ? :bold : :normal)}" do %>
          <%= truncate(alert.title, :length => 30) %>
          <span class="hint">Enviado <%= l alert.created_at %></span>

          <div class="right middle">
            <%= link_to image_tag("/images/icons/view_list.png", :title => "Quem viu", :class => "toolTip"), admin_audit_alert_path(alert) if ((can? :read, Audit) && alert.audits.present?) %>
            <%= link_to image_tag("/images/icons/eye.png", :title => "Ver mensagem", :class => "toolTip"), admin_alert_path(alert) %>
            <%= link_to_edit([:edit, :admin, alert]) if can? :update, Alert %>
            <%= link_to_destroy([:admin, alert]) if can? :destroy, Alert %>
          </div>
        <% end %>
      <% end %>
    </ul>
  </table>
  <%= will_paginate @alerts, :previous_label => "< #{t(:previous_label)}", :next_label => "#{t(:next_label)} >" %>

<% else %>
  <p>Não existe avisos registradas.</p>
<% end %>
<hr class="thick">
