<%= content_tag_for :li, user, :class => cycle(:odd, :even) do %>
  
  <%= user.name %>
  
  <% if user.last_sign_in_at.present? %>
    <span class="hint">Último acesso <%= l user.last_sign_in_at %></span>
  <% end %>
  
  <div class="right">
    <%= link_to admin_user_path(user) do %>
      <%= image_tag("/images/icons/eye.png", :title => "Ver detalhes", :class => "toolTip")%>
    <% end %>  
    <%= link_to_destroy([:admin, user]) if can? :destroy, User %> 
  </div>
  
  <div class="left">
    <% if can? :update, User %>
      <%= form_for([:edit, :admin, user], :remote => true) do |f| %>
        <%= link_to admin_user_path(user), :class => "toolTip", :title => t("user.enabled.#{user.enabled? ? 'desativar' : 'ativar'}"), :method => :put do %>
          <span id = "user-active" class=<%= user.enabled? ? "tick" : "cross" %>></span>
        <% end %> 
      <% end %>
    <% end %>
  </div>
  
<% end %>
