<h2 class="person-title"><%= @user.name %></h2>
<p><strong><i>Email: </i></strong><%= @user.email %></p>

<p><strong><i>Contato: </i></strong><%= @user.contact %></p>
<p><strong><i>Home page: </i></strong><%= !@user.home_page.nil? ? link_to(@user.home_page, url_for(@user.home_page), :target => "_blank") : "N/D"  %></p>
<p><strong><i>Perfil: </i></strong></p>
<div class = "frame">
<%= textilize @user.profile if !@user.profile.nil? %>
</div>

<hr class = "thick" />


