<%= form_for([:admin, @course]) do |f| %>
  
  <%= error_messages_for @course %>
   
  <% if can? :manage, Course %>
    <div class="field">
      <%= f.label :users %>
      <%= collection_select(:course, :user_ids, @teachers, :id, :name, {:include_blank => false}, {:multiple => "multiple"}) %>
    </div>
    
    <div class="field">
      <%= f.label :tutor_id %>
      <%= collection_select(:course, :tutor_id, @tutors, :id, :name, {:include_blank => true}) %>
    </div>
    
    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description, :rows => 15 %>
  </div>
  
  <div class="field">
    <%= f.label :amount %>
    <%= f.text_field :amount %>
  </div>
  
  <div class="field">
    <%= f.label :workload %>
    <%= f.text_field :workload %>
  </div>
  
  <% if can? :manage, Course %>  
    <div class="field">
      <%= f.label :price %>
      <%= f.text_field :price %>
    </div>
  <% end %>
    
    <div class="field">
      <%= f.label :enabled %>
      <%= f.check_box :enabled %>
    </div>
  
<hr class = "thick" />
  <div class="actions">
    <%= f.submit "Salvar" %>
  </div>
  <%= link_to t('cancel'), url_for(:back) %>
<% end %>
