<h3>Aulas do curso
<%= link_to "Nova Aula", new_admin_course_lesson_path(@course), :class => "button right" %>
</h3>

<% if @lessons.present? %>
  <ul class="list">
    <% @lessons.each do |lesson| %>
      <%= content_tag_for :li, lesson, :class => cycle(:odd, :even) do %>
        <% if current_user.teacher? %>
          <span class="<%= lesson.enabled ? :actived : :desactive %>"></span>
        <% end %>
        <%= lesson.theme %>
        <span class="hint">Realizará em <%= l lesson.date_at %></span>

        <div class="right">
          <%= image_tag("/images/icons/attachment.png", :title => "Anexo", :class => "toolTip") if lesson.assets.present? %>
          <%= link_to admin_lesson_path(lesson) do %>
            <%= image_tag("/images/icons/eye.png", :title => "Ver", :class => "toolTip")%>
          <% end %>
          <%= link_to_edit([:edit, :admin, @course, lesson]) if can? :update, Lesson %>
          <%= link_to_destroy([:admin, @course, lesson]) if can? :destroy, Lesson %>
        </div>
      <% end %>
    <% end %>
  </ul>
  <%= will_paginate @lessons, :previous_label => "< #{t(:previous_label)}", :next_label => "#{t(:next_label)} >" %>
<% else %>
  <p>Não existe aulas registradas.</p>
<% end %>
