<h2><%= @course.name %></h2>
<% if cannot? :create, Lesson %>
  <h3>Professor(s)</h3>
    <%= @course.teachers %>
  <h3>Carga horária</h3>
    <%= @course.workload %>h
  <p><h3>Sobre</h3></p>
  <div class="frame"><%= textilize @course.description %></div>
<% else %>
  <%= render :partial => "lessons" %>
<% end %>

<hr class = "thick" />
