<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %></title>
  <%= stylesheet_link_tag "application", "scaffold", "common", "tipTip", "blog" %>
  <%= javascript_include_tag  "vendor/jquery", "rails", "app/jquery.tipTip.minified" %>
  <%= csrf_meta_tag %>
</head>
<body>
  <!--[if lte IE 7]>
  <script defer type="text/javascript" src="js/pngfix.js"></script>

  <div class="notSupportedBrowser important">
    <p>
      <strong>Seu navegador está desatualizado. Baixe a nova versão
      <%= link_to image_tag("ua_ie.jpg", :class => "middle"),
            "http://www.microsoft.com/windows/internet-explorer", :target => "_blank" %>
      ou escolha outro suportado:</strong>
      <%= link_to image_tag("ua_ff.jpg", :class => "middle"), "http://www.mozilla.com/", :target => "_blank" %>
      <%= link_to image_tag("ua_sf.jpg", :class => "middle"), "http://www.apple.com/safari/", :target => "_blank" %>
      <%= link_to image_tag("ua_ch.jpg", :class => "middle"), "http://www.google.com/chrome/", :target => "_blank" %>
      <%= link_to image_tag("ua_op.jpg", :class => "middle"), "http://www.opera.com/", :target => "_blank" %>
    </p>
  </div>
  <![endif]-->
  
  <div id="wrapper">
    <div id="header">
      <header>
        <%= link_to root_path do %>
          <div id="logo">[te]ensino</div>
        <% end %>
        <% if user_signed_in? %>
          <div class="left">
            <%= link_to image_tag("door_out.png", :title => "Sair", :class => :middle), destroy_user_session_path %>
          </div>
        <% end %>
      </header>
      
      <div id="menu">
        <div id="main-nav" class="nav left">
          <%= menu do |m| %>
            <%= m.pages "Home", root_path %>
            <%= m.courses "Cursos", courses_path %>
            <%= m.prices "FAQ", "#" %>
          <% end %>
        </div>
        <div id="main-nav" class="nav right">
          <%= menu do |m| %>
            <%= m.signup "Registrar-se", new_user_registration_path, :class=> "button_sign_up" %>
            <%= m.login "Login", new_user_session_path, :class=> "button_login" %>
          <% end %>
        </div>
      </div>
    </div>

    <div id="content">
      <div id="column1">
      <%= flash_messages %>
      <%= yield %>
      </div>
      <%= render :partial => "layouts/sidebar_off" %>
    </div>
    
    <div id="footer">
      <div id="footer-nav">
        <ul>
          <%= menu do |m| %>
            <%= m.pages "HOME", root_path %>
            <%= m.courses "CURSOS", courses_path %>
            <%= m.prices "FAQ", "#" %>
            <%= m.contact "CONTATO", "#"%>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  
  
  <%= yield :bottom %>
  <%= analytics "UA-XXXXX" %>
</body>
</html>
